* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-title {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.contact-title h1 {
    font-size: 40px;
    font-weight: 700;
    /* color: #007AFF; */
}

.contact_left h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #007AFF;
}

.name_phone {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.name_phone input {
    width: 350px;
    height: 57px;
    padding-left: 10px;
    border: none;
    background: #f7f7f7;
    color: #555555;
    outline: none;
    border-radius: 8px;
}

.message_inp {
    width: 100%;
    height: 200px;
    background: #f7f7f7;
    padding-left: 10px;
    border: none;
    margin-top: 20px;
    outline: none;
    padding-bottom: 130px;
    border-radius: 8px;
}

.send_msg_btn {
    width: 156px;
    height: 58px;
    border: none;
    background-color: #cc2121;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #007AFF;
    cursor: pointer;
}

.contact_main_container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 80px;
}

#map {
    max-width: 60%; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 50px; 
    padding-bottom: 50px;
}

.contact_right {
    width: 370px;
}

.contact_right h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #007AFF;
}

.contact_right p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    line-height: 25px;
}

.contact_right h5 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}
    