{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="main container-text">
        <div style="text-align: center;">
            <div>
              <h1 class="title">Hi there, we're Driving-Tests</h1>
              <p class="main-text">We help busy learner drivers dominate their DMV knowledge exam.</p>
              <p class="content">Our mission is simple: to educate American drivers, helping them stay safe on the road. We take this mission seriously, and it informs everything we do. And it is a promise that we make to our users. Driving-Tests was founded on the universal belief that everyone can be a safe driver. We provide a driver education platform to help people learn how to be safe behind the wheel. We use technology to make preparing for the driver's knowledge exam simple and accessible to anyone who wants to drive.</p>
            </div>

            <div class="content-div">
              <h3 class="Driver-text">Why did we need a new way to prepare drivers?</h3>
              <p class="content">For years, learners had been stuck struggling with boring handbooks and monotonous instructor talks. Classrooms full of yawning students is not an effective or safe way to learn how to drive. Low pass rates and high accident rates showed that the current system wasn't working. We needed a new system that engaged and prepared drivers in a more effective way.</p>
            </div>

            <div>
              <h3 class="Driver-text">Eleven years ago, we created the best system for DMV knowledge exam preparation. 60 million learners later, it's guaranteed to help anyone pass.</h3>
            </div>

            <div class="content-div">
              <video class="video" width="400" controls>
                <source src="mov_bbb.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML video.
              </video>

              <p class="content-video">Driving-Tests.org is the largest independent driver education provider in the US. Driving practice tests are all we do. With 4.5M monthly visitors, we’re the ONLY specialized team dedicated entirely to driving tests: writers, researchers and analysts who know what the DMV wants from applicants and how to teach that.</p>
              <p class="content">We've partnered with state government agencies and over 2,300 libraries and organizations like NOYS, National Safety Council, Roadway Safety Foundation and Motorcycle Safety Foundation helping make our roads safer for all. Based on a nationwide survey of over 500 visitors to the DMV, aspiring learner drivers who study their state’s DMV manual and take our practice tests are 73 percent more likely to pass the knowledge test than those who study the manual alone. See our press mentions or download the Marketing toolkit.</p>
            </div>

         </div>

    </div>

{% endblock %}